@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
h2 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.25;
}
.navbar-brand {
  font-size: 1.38rem;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.4px;
}
.navbar-brand:hover {
  opacity: 0.8;
  color: #000;
}
.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar-light .navbar-nav .nav-link {
  padding: 0.5rem 0;
  color: rgb(17, 19, 20);
  font-weight: 400;
  border-bottom: 1px transparent solid;
  transition: all 0.5s ease-out;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(1, 84, 255);
  border-bottom: 1px rgb(1, 84, 255) solid;
}
.hero {
  min-height: 40vh;
  color: rgb(17, 19, 20);
}

.hero h1 {
  font-weight: 300;
  line-height: 1.1666;
  font-size: 3.25em;
  max-width: 24rem;
}
.hero h4 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.3;
  max-width: 34rem;
}
.showcase-link h4,
.showcase-link p {
  font-weight: 400;
  color: rgb(17, 19, 20);
}
showcase-link h4 {
  font-size: 1.25em;
  line-height: 1.4;
}
showcase-link p {
  font-size: 1.125em;
  line-height: 1.5;
}
.showcase-link p,
.showcase-link img {
  transition: all 0.3s ease-out;
}
.showcase-link:hover > * {
  opacity: 0.75;
}
.showcase-link:hover > img {
  transform: scale(1.03);
  transform-origin: center center;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15) !important;
}
#services {
  color: rgb(17, 19, 20);
}
#services p {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.4;
}
#services h5 {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.4;
}
#services li {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.7;
}
#services li:before {
  content: '-';
  display: inline-block;
  padding-right: 0.3em;
}
#services a {
  font-size: 1.125rem;
  line-height: 1;
  color: rgb(1, 84, 255);
}
#services a * {
  transition: all 0.3s ease-in-out 0s;
}
#services a:hover span {
  transform: translateX(10px);
}
#blog h4,
#blog #blog .post-title,
#blog .post-text {
  color: rgb(237, 240, 242);
  font-weight: 400;
}
#blog h2 {
  max-width: 10em;
}
#blog .blog-content a {
  font-size: 1.125rem;
}
#blog .blog-content a * {
  transition: all 0.3s ease-in-out 0s;
}
#blog .blog-content a:hover span {
  transform: translateX(10px);
}
#blog .post-title {
  font-size: 1.3em;
  line-height: 1.4;
}
#blog .post-text {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
}
#blog .post-info {
  color: rgb(138, 147, 153);
  font-size: 0.875rem;
  line-height: 1.4;
}
#blog .post-info span {
  margin-right: 0.3em;
}
.footer-content > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footer-content h6 {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.428;
  margin-bottom: 2em;
}
.footer-content a,
.footer-content span {
  display: inline-block;
  padding: 0.5em 0px;
  font-size: 1em;
  line-height: 1;
  color: rgb(17, 19, 20);
}
.social-media svg {
  width: 20px;
  height: 20px;
  margin-right: 0.8em;
}
@media (min-width: 900px) {
  #services li {
    font-size: 1.125em;
  }
  .services-card {
    min-width: 250px;
    max-width: 300px;
  }
  #blog h4,
  #blog .blog-content {
    width: 50% !important;
  }
  #about h2 {
    max-width: 12rem;
  }
  .footer-content > div:first-child {
    flex: 0 1 27.5rem;
  }
}
